	<div class="about-container">
  
		<div class="about">
		
			<%= image_tag 'me.jpg', class: 'img-fluid me'  %>
	
			<h1>Ryan Heckman</h1>

			<h2>PET SITTER</h2>

			<hr class="grey"/>

			<p class="bio">Hi all! I live in Tucson, Arizona (Oro Valley) and I am 29 years old. I have been in this business for 8 years, with nearly 20 clients in the area. I am hard working and bring joy to animals of all kinds. Please feel free to look around the site and email me with any questions or concerns. Thank you for your time and consideration!</p>

		</div>

	</div>
		<h3 id="sitting">Sitting</h3>
		<hr class="blue"/>

	<div class="box">
	
		<h4>Responsibilities</h4>
	
	</div>

	<div class="box">

			<ul>

				<li>Get the mail</li>
			
				<li>Feed animals</li>
			
				<li>Water Flowers</li>
			
				<li>Take animals on walks</li>
			
				<li>Take garbage in/out</li>

				<li>Give perscribed medications</li>

				<li>Keep the house clean and locked</li>

				<li>Clean litters and pick up droppings</li>

				<li>Make your animals as happy as possible</li>
				
				<li>Willing to sleep with animals if needed overnight</li>
			
				<li>etc...</li>
			
			</ul>

	</div>

		<br class="clear" />

	<div class="box">
	
		<h4>Rates</h4>
		
	
	</div>

	<div class="box">
		
		<ul><h4>Overnight Stay:</h4>

			<li>Small Animals: $40/night</li>

			<li>Large Animals: $50/night</li>

		</ul>

		<br class="clear" />

		<ul><h4>Check-ins:</h4>

			<li>$15/visit</li>

		</ul>

		<br class="clear" />

		<ul><h4>Dog Walking:</h4>

			<li>$15/walk</li>

		</ul>

	</div>

		<br class="clear" />


	<h3 id="education">EDUCATION</h3>

	<hr class="blue"/>

	<div class="box">
	
		<h4>University Of Arizona</h4>
	
		<img src="images/uofa.jpg" class="full-width" />

		<p>
			
			Currently enrolled in an online 6 month program, for computer coding

		</p>

	</div>

	<div class="box">
	
		<h4>Pima Community College</h4>
	
		<img src="images/pima.jpg" class="full-width" />

		<p>

			<ul>

				<li>Gen Eds</li>
				
				<li>Business Courses</li>
				
				<li>EMT Training</li>
				
				<li>Computer Science Courses</li>
			
			</ul>
		
		</p>

	</div>

	<br class="clear" />

	<div class="box">
	
		<h4>Ironwood Ridge High School</h4>
	
		<img src="images/ironwood.png" class="full-width" />

		<p>
		
			<ul>
		
				<li>3.8 GPA</li>
		
				<li>Wrestling 2005 - 2008</li>
		
				<li>Most Improved Wrestler Award 2005</li>
				
			</ul>
		
		</p>

	</div>

	<br class="clear" />

	<h3 id="extra">EXTRA CURRICULAR</h3>

	<hr class="blue"/>

	<div class="box">
	
		<h4>YoungLife</h4>
	
		<img src="images/Younglife.jpg" class="full-width" />

		<p>
			
			Christian Organization - (2004 - 2008)

		</p>

	</div>

	<div class="box">
	
		<h4>Humane Society of Southern Arizona</h4>
	
		<img src="images/humane.png" class="full-width" />

		<p>
			
			Volunteer (2002 - 2005)

		</p>

	</div>

	<br class="clear" />

	<div class="box">
	
		<h4>Running</h4>
	
		<img src="images/marathon.jpg" class="full-width" />

		<p>
			
			Participate in several races throughout the year.  2018 was the first year to finish my first marathon. (4:20:36)

		</p>

	</div>

	<div class="box">
	
		<h4>Ultimate Frisbee</h4>
	
		<img src="images/frisbee.jpg" class="full-width" />

		<p>
			
			A hobby that I picked up in 2009. We play every friday evening.

		</p>

	</div>

	<br class="clear" />
	<br class="clear" />