<% @pets.each do |pet| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= pet.name %></h1>
    <i><%= pet.type %></i><br /><br />
    <p><%= pet.medication %></p><br />

    <% if pet.client.present? %>
      <small><%= pet.client.email %></small>
    <% end %>
  </div>
<% end %>