@import "bootstrap";

body{
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-image: url(mamba.jpg);
}

.navbar {
    background: image_url('prism.png');
    box-shadow: 0px 1px 3px #2a2a2a;
    margin-bottom: 0;
  }
  
  .navbar-dark .navbar-brand {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
  }

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    max-height: 550px;
    width: 100%;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    left: 0;
    
  }

  .carousel {
    box-shadow: 0px 3px 8px #2a2a2a;
  }
  

  // Simple_form

  .simple_form {
    div.input {
      margin-bottom: 10px;
      clear: both;
      /* Required for Webkit, but not for Gecko */
    }
    label {
      float: left;
      // width: 100px;
      text-align: right;
      margin: 2px 10px;
    }
  }
  
  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }
  
  div.boolean label {
    float: none;
    margin: 0;
  }
  
  label.collection_radio_buttons {
    float: none;
    margin: 0;
    margin-right: 10px;
    vertical-align: -2px;
    margin-left: 2px;
  }
  
  .field_with_errors {
    background-color: #ff3333;
  }
  
  .simple_form {
    .error {
      clear: left;
      color: black;
      display: block;
      margin-left: 120px;
    }
    .hint {
      clear: left;
      margin-left: 120px;
      color: #555;
      display: block;
      font-style: italic;
    }
  }
  
  input {
    &.radio {
      margin-right: 5px;
      vertical-align: -3px;
    }
    &.check_boxes {
      margin-left: 3px;
      vertical-align: -3px;
    }
  }
  
  label.collection_check_boxes {
    float: none;
    margin: 0;
    vertical-align: -2px;
    margin-left: 2px;
  }


  .simple_form #myModal {
    div.input {
      margin-bottom: 10px;
      clear: both;
      /* Required for Webkit, but not for Gecko */
    }
    label {
      float: left;
      width: 100px;
      text-align: right;
      margin: 2px 10px;
    }
  }
  
  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }
  
  div.boolean label {
    float: none;
    margin: 0;
  }
  
  label.collection_radio_buttons {
    float: none;
    margin: 0;
    margin-right: 10px;
    vertical-align: -2px;
    margin-left: 2px;
  }
  
  .field_with_errors {
    background-color: #ff3333;
  }
  
  .simple_form {
    .error {
      clear: left;
      color: black;
      display: block;
      margin-left: 120px;
    }
    .hint {
      clear: left;
      margin-left: 120px;
      color: #555;
      display: block;
      font-style: italic;
    }
  }
  
  input {
    &.radio {
      margin-right: 5px;
      vertical-align: -3px;
    }
    &.check_boxes {
      margin-left: 3px;
      vertical-align: -3px;
    }
  }
  
  label.collection_check_boxes {
    float: none;
    margin: 0;
    vertical-align: -2px;
    margin-left: 2px;
  }